v13.q1.qs0.chain.ym.bestfit.rds
v13.2q.chain.Bis.bestfit.rds
v13.2q.chain.Dig.bestfit.rds
v13.2q.chain.Fes.bestfit.rds
v13.2q.chain.Kan.bestfit.rds
v13.2q.chain.Luc.bestfit.rds
v13.2q.chain.Pha.bestfit.rds
v13.2q.chain.Rho.bestfit.rds
v13.2q.chain.Rye.bestfit.rds
v13.2q.chain.flux.bestfit.rds
v13.2q.chain.ym.bestfit.rds
v13.q1.qs0.chain.Bis.bestfit.rds
v13.q1.qs0.chain.Dig.bestfit.rds
v13.q1.qs0.chain.Fes.bestfit.rds
v13.q1.qs0.chain.Kan.bestfit.rds
v13.q1.qs0.chain.Luc.bestfit.rds
v13.q1.qs0.chain.Pha.bestfit.rds
v13.q1.qs0.chain.Rho.bestfit.rds
v13.q1.qs0.chain.Rye.bestfit.rds
v13.q1.qs0.chain.flux.bestfit.rds
